@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
* {
  font-family: "IBM Plex Mono", monospace;
}
header {
  text-align: center;
  padding: 40px;
  background-color: #353a3f;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.card-header {
  font-weight: 600;
}

button {
  margin-bottom: 20px;
  margin-top: 5px;
}
